*{
    padding: 0;
    margin: 0;
}

/* body section */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    width: 100%;
    height: auto;
}


/* sidebar section */

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 20vw;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid grey; 
    color: white;
    position: fixed;
    transform-origin: top left;
}

#instagram{
    display: none;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.menu li {
    margin-bottom: 22px;
}

.menu li a {
    display: flex;
    text-decoration: none;
    color: #a5a4a4;
    align-items: center;
}

#miniprofile{
    color: white;
}

#miniprofile img{
    border: solid;
    border-radius: 25px;
}

.menu li a img {
    margin-right: 10px;
    width: 20px;
}

.more-treads{
    display: block;
    bottom: 0;
    position:fixed
}

/* main section */

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20vw;
    height: auto;
    color: white;
}

/* main header */

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 30vh;
}

.container{
    justify-content: center;
    display: flex;
    gap:20px;
}
.profile-leftside{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.profile-img img {
    margin-left: 90px;
    border-radius: 50%;
}

.addcircle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 28, 28);
    border: 1px solid rgb(29, 28, 28);
    padding: 2px;
    border-radius: 55%;
    box-shadow: inset 0px 0px 0px 4px black;
    height: 50px;
    width: 50px;
}

.addcircle svg{
    display: flex;
}

.addcircle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username{
    margin-top: 7px;
}

.btn{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.btn li{
    list-style: none;
}

.profile-leftside p{
    font-size: 10px;
}

.profile-rightside{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
}

.edit-view{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

.profile-rightside .edit-view button{
    display: flex;
  position: relative;
  align-content: stretch;
  align-items: stretch;
  align-self: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 30px;
  justify-content: center;
  width: 106.275px;
  direction: ltr;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-size-adjust: 100%;
  color: rgb(245, 245, 245);
  background-color: #5a5a5a;
  color-scheme: dark;
  border-radius: 8px;
}



.profile-rightside img{
    margin-top: 3px;
}

.follow ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 15px;
    list-style: none;
}


.bio{
    display: flex;
    justify-content: left;
    align-items: center;
}

/* horizontal line */
.hl {
    border-top: 2px solid #1C1B1F; 
    width: 620px;
}

/* grid section */

.section{
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.grid-slide{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: baseline;
    justify-content: center;
    gap: 90px;
}

/* horizontal line */
.hl {
    border-top: 2px solid #1C1B1F; 
    width: 630px;
}

#posts{
    border-top: 1px solid white;
    color: white;
}

.grid-slide a {
    display: flex;
    align-items: baseline;
    text-decoration: none;
    color: #a5a4a4;
    gap: 5px;
}

.grid-slide img {
    margin-top: 10px;
}

.gridbox{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px 10px;
}


.footer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: grey;
    justify-content: center;
    gap: 17px;
    margin-bottom: 20px;
}

.firstline{
    display: flex;
    justify-content: center;
}

.footerlist1 {
    display: flex;
    list-style: none;
    gap: 5px;
}
.secendline{
    justify-content: center;
    display: flex;
}
.footerlist2{
    display: flex;
    list-style: none;
    gap: 5px;
}


.footer a{
    text-decoration: none;
    color: grey;
}

.footerlist2 img{
    margin-left: 5px;
}

// scss section

@import 'media';