//desktop media

@media screen and (max-width: 1440px),(min-width: 1440px) {
  .hidden_bio {
    display: none;
  }

  .top_bar {
    display: none;
 
  }

  .hidden_follow{
    display: none;
  }
  }

  #hiddenposts{
    display: none;
  }


//tablette media

@media screen and (max-width: 834px) {

// hidden elements

  .hidden_bio {
    display: none;
  }

  .top_bar {
    display: none;
  }

  .hidden_follow{
    display: none;
  }

.logo{
    display: none;
}

// enable element

#instagram{
    display: flex;
    margin-block: auto;
}

//side bar

.sidebar {
      width: 8vw;
      height: 1194px;
      display: flex;      
    }

 .more-treads{
      margin-top: 470px;
        display: flex;
        flex-direction: column;
        justify-content: center;
         }

  .main-menu{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

    .menu li{
        margin: 0px;
    }
    .menu li a {
        display: flex;
        text-decoration: none;
        color: #a5a4a4;
        align-items: center;
        margin-top: 40px;
      }
     .menu li span{
        display: none;
     }
     


// main header

.container {
    justify-content: center;
    display: flex;
    gap: 20px;
    margin: 0px;
}

// main section

.main{
    margin-left: 8vw;
}

.section{
    display: flex;
    justify-content: center;
}

.gridbox{
    justify-content: center;
    width: 630px;
}

.footer{
    margin-top: 250px;
}

}

// mobile media


@media only screen and (max-width: 428px) {

//side bar

.sidebar{
  display: flex;
  margin: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  justify-content: center;
  border-top: solid 1px ;
}

.main-menu{
  justify-content: space-between;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.menu .main-menu li{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.menu li a {
  margin: 0px;
}

#hiden_icone{
  display: none;
}

// top bar section

.top_bar{
  justify-content: center;
  display: flex;
  align-items: center;
  width: 428px;
  height: 45px;
  border-bottom: solid 1px;
  margin-bottom: 5px;
}

.inline_bar{
  display: flex;

}

#param_icon{
  position: absolute;
  left: 2px;
}

#add_friend_icon{
  position: absolute;
  right: 0;
}

.dropdown{
  display: flex;
  gap: 10px;
}

// main header

.main{
  margin-left: 0px;
 }

 .main-header{
  display: flex;
  height: 225px;
  }

.container{
  justify-content: left;
  margin-top: 0px;
  margin-left: 0px;
 }

 // profile left side

 .profile-img img {
  margin-left: 10px;
  width: 17vw;
  height: 8vh;
 }
 
 .profile-leftside {
   gap: 5px;
   }
     
 .profile-leftside p{
   margin-top: 0px;
 }

.hidden_bio {
  display: flex;
  margin-left: 10px;
 }

.addcircle-container {
  margin-right: 30px;
}

// profile right side

#username{
  font-size: 23px;
}

.btn{
  display: block;
}

.edit-view{
  display: flex;
  margin-top: 10px;
  gap: 5px;
  }

//section

.hidden_follow {
  padding: 10px;
  border-top-color: #1C1B1F;
  width: 428px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  justify-items: center;
}
    
#hidden_follow_color{
  color: grey;
 }

.grid-slide{
  gap: 115px;
}

.gridbox{
 width: 424px;
 margin-left: 0px;
 margin-top: 15px;
 gap: 7px;
 }
    
.gridbox img{
  width: 32vw;
  height: 15vh;
 }

.grid-slide #hiddenposts{
  width: 26.3px;
  height: 26.3px;
  margin-top: 10px;
}


.grid-slide img {
  width: 26.3px;
  height: 26.3px;
  margin-top: 10px;
}

#hiddenposts{
  display: flex;
}

// Hidden elements

.hl{
  display: none;
}

.more-treads{
  display: none;
}

#instagram{
  display: none;
}

.logo {
  display: none;
}

.bio{
  display: none;
}

.footer{
display: none;
}

#posts{
display: none;
}

.grid-slide p{
display: none;
}

#parametre{
display: none;
}

.follow{
display: none;
}

}